<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>签到确认</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/phone_bg.css" rel="stylesheet">

</head>
 <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">请阅读一下信息：</h1>
            <p class="lead">
            你现在正在参与安工大研究生迎新晚会的签到活动，成功签到将有机会参与抽奖活动，请问是否签到？
            </p>
            <p class="lead">
              <a href="/register" class="btn btn-lg btn-default">签到</a><a href="/thank" class="btn btn-lg btn-block">不签到</a>
            </p>
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>flask练习 by @尹晓玲</p>
            </div>
          </div>

        </div>

      </div>

    </div>


  </body>
</html>
