<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>签到确认</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/phone_bg.css" rel="stylesheet">

</head>
 <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="inner cover">
            <h1 class="cover-heading">你已经成功签到！请继续观赏节目。抽奖活动即将开始！</h1>

          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>flask练习 by @尹晓玲</p>
            </div>
          </div>

        </div>

      </div>

    </div>


  </body>
</html>
