<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>闭幕墙</title>
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../static/theme.css" rel="stylesheet">

</head>
<body role="document">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" style="font-size: x-large">首页</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><a href="/start">开幕墙</a></li>
            <li><a href="/rule">规则</a></li>
            <li><a href="/signIn">签到</a></li>
              <li><a href="/draw">抽奖</a></li>
              <li class="active"><a href="">闭幕墙</a></li>
            <li class="dropdown">
              <a href="/backManage" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">后台管理 <span class="caret"></span></a>
              <ul class="dropdown-menu"  >
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

<div class="container theme-showcase" role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>致谢</h1>
        <p> 再次感谢安徽工业大学团委、安徽工业大学研究生院的鼎力支持。</p>
      </div>
      <div class="jumbotron">
        <h1>领奖通知</h1>
        <p>
        中奖者请于2016年3月2日前，至安徽工业大学东区逸夫楼验证领奖。逾期无效，特此通知。
        </p>
      </div>

    </div>
</body>
</html>